* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #eb452f;
}

nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 5px 10px;
}

nav li {
  
  justify-content: center;
  padding: 10px;
  color: white;
}




footer {
  background-color: #bfbfbf;
  color: #000;
  text-align: center;
  padding: 10px;
}